---
layout: article
---

<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="title" content="Black Dog Consultants">
    <meta name="author" content="Sally Leonard">
    <meta name="copyright" content="Black Dog Consultants 2016">
    <meta name="description" content="A unique network of training, facilitation and coaching consultants at your fingertips, specialising in the Asia Pacific Market" />
    <meta name="robots" content="index,follow" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="<%= current_article.title %>"/>
    <meta property="og:site_name" content="Black Dog Consultants"/>
    <meta property="og:url" content="<%= current_article.url %>" />
    <meta property="og:type" content="article" />
    <meta property="og:description" content="<%= current_article.data.metadescription %>" />
    <meta property="og:image" content="https://blackdog-consultants.com/<%= current_article.data.cover_image %>"" />
    <%= partial 'partials/favicons' %>
    <title>Black Dog Consultants</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Source+Sans+Pro" rel="stylesheet">
    <%= stylesheet_link_tag :application %>
    <%= javascript_include_tag  :modernizr %>
  </head>
  <% if page_classes.include? 'news-archives' %>
    <body class="<%= page_classes %> cbp-spmenu-push article background-secondary <%= current_article.data.category %>">
  <% else %>
    <body class="<%= page_classes %> cbp-spmenu-push article background-white <%= current_article.data.category %>">
  <% end %>
      <%= partial 'partials/shapes' %>
      <%= partial 'partials/navigation/article' %>
      <div class="container whole">
        <%= partial '/partials/logo_heading' %>
          <div class="row background-white">
            <div class='text-heavy d-md-flex'>
              <div class="col-md-4 cover-image">
                <%= image_tag(current_article.data.cover_image) %>
              </div>
              <div class="col-md-8 content">
                <h1 class="title"><%= current_article.title %></h1>
                <small>Published on: <%= current_article.date.strftime('%d %b %Y') %></small><hr>
                <div class="description">
                  <%= yield %>
                  <div class="back">
                    <a class="btn btn-dark-outline link" href="<%= category_path(current_article.data.category) %>">
                      <i class="fa fa-chevron-left"></i>
                      View our other <%= current_article.data.category.titleize %>  articles
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <%= partial 'partials/video_modal' %>
      </div>
    </div>
    <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
    <%= javascript_include_tag  :application %>
  </body>
</html>
