<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="author" content="">
    <meta name="copyright" content="">
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Black Dog Consultants</title>
    <%= stylesheet_link_tag :application %>
    <%= javascript_include_tag  :modernizr %>
  </head>
  <% if page_classes.include? 'news-archives' %>
    <body class="<%= page_classes %> cbp-spmenu-push article background-secondary">
  <% else %>
    <body class="<%= page_classes %> cbp-spmenu-push article background-white">
  <% end %>
      <%= partial 'partials/shapes' %>
      <%= partial 'partials/navigation/article' %>
      <div class="container whole ">
        <%= yield %>
      </div>
    </div>
    <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
    <%= javascript_include_tag  :application %>
  </body>
</html>
