<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="title" content="Black Dog Consultants">
    <meta name="author" content="Sally Leonard">
    <meta name="copyright" content="Black Dog Consultants 2016">
    <meta name="description" content="A unique network of training, facilitation and coaching consultants at your fingertips, specialising in the Asia Pacific Market" />
    <meta name="robots" content="index,follow" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title"             content="<%= yield_content(:og_title) %>"/>
    <meta property="og:site_name"         content="Black Dog Consultants"/>
    <meta property="og:url"               content="<%= yield_content(:og_url) %>" />
    <meta property="og:type"              content="article" />
    <meta property="og:description"       content="<%= yield_content(:og_description) %>" />
    <meta property="og:image"             content="<%= yield_content(:og_image) %>" />
    <%= partial 'partials/favicons' %>
    <title>Black Dog Consultants</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Source+Sans+Pro" rel="stylesheet">
    <%= stylesheet_link_tag :application %>
    <%= javascript_include_tag  :modernizr %>
  </head>
  <% if page_classes.include? 'news-archives' %>
    <body class="<%= page_classes %> cbp-spmenu-push article background-secondary">
  <% else %>
    <body class="<%= page_classes %> cbp-spmenu-push article background-white">
  <% end %>
      <div id="preloader">
        <div id="status">&nbsp;</div>
      </div>
      <%= partial 'partials/shapes' %>
      <%= partial 'partials/navigation/article' %>
      <div class="container whole ">
        <%= yield %>
        <%= partial 'partials/video_modal' %>
      </div>
    </div>
    <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
    <%= javascript_include_tag  :application %>
  </body>
</html>
