<div class="row background-primary" id="latestNews">
  <div class="divider">
    <div class="col-md-5 col-md-offset-1 left-column">
      <div class="col-sm-6 col-md-8 logo-container">
        <%= image_tag 'logo.png', :class => "logo" %>
      </div>
      <div class="col-sm-11 subheading">
        <h1 class="text-light">Latest News</h1>
      </div>
    </div>
    <div class="col-md-6 hidden-sm-down image-container">
      <%= image_tag 'typewriter.jpg' %>
    </div>
  </div>
</div>
<div class="row articles-main background-white">
  <ul>
  <% news_array = data.articles.news.to_a.sort_by{ |id, e| e['date'] } %>
  <% news_array.reverse.each do |news| %>
  <% n = news[1] %>
    <li>
      <div class="col-xs-12 col-lg-offset-1 col-lg-10 post">
        <div class=" col-md-4 featured-image">
          <%= image_tag(n.coverImage.url) %>
        </div>
        <div class="col-md-8 summary">
          <h1 class="text-primary"><%= n.title %></h1>
          <small>posted on: <%= n.date.strftime('%d %b %Y') %></small><br>
          <p class="metadescription"><%= n.metadescription %></p>
          <a class="btn btn-light-outline read-more link" href="news/<%= n.slug%>">Read more here</a>
        </div>
      </div>
    </li>
    <li>
      <div class="col-xs-12 col-lg-offset-1 col-lg-10 post">
        <div class=" col-md-4 featured-image">
          <%= image_tag(n.coverImage.url) %>
        </div>
        <div class="col-md-8 summary">
          <h1 class="text-primary"><%= n.title %></h1>
          <small>posted on: <%= n.date.strftime('%d %b %Y') %></small><br>
          <p class="metadescription"><%= n.metadescription %></p>
          <a class="btn btn-light-outline read-more link" href="news/<%= n.slug%>">Read more here</a>
        </div>
      </div>
    </li>
    <li>
      <div class="col-xs-12 col-lg-offset-1 col-lg-10 post">
        <div class=" col-md-4 featured-image">
          <%= image_tag(n.coverImage.url) %>
        </div>
        <div class="col-md-8 summary">
          <h1 class="text-primary"><%= n.title %></h1>
          <small>posted on: <%= n.date.strftime('%d %b %Y') %></small><br>
          <p class="metadescription"><%= n.metadescription %></p>
          <a class="btn btn-light-outline read-more link" href="news/<%= n.slug%>">Read more here</a>
        </div>
      </div>
    </li>
  <% end %>
  </ul>
  <div class="col-xs-12 col-lg-offset-1 col-lg-10 post">
    <a class="btn btn-light-outline forward link" href="/news-archives">
      View our full archives
      <i class="fa fa-chevron-right"></i>
    </a>
  </div>
</div>