<div class="row background-secondary" id="latestNews">
  <div class="divider">
    <div class="col-md-5 offset-md-1 left-column">
      <div class="col-sm-6 col-md-8 logo-container">
        <%= image_tag 'logo.png', :class => "logo" %>
      </div>
      <div class="col-sm-11 subheading wow bounce">
        <h1 class="text-light">What's New</h1>
      </div>
    </div>
    <div class="col-md-6 hidden-sm-down image-container">
      <%= image_tag 'latest_news.jpg' %>
    </div>
  </div>
</div>
<div class="row news articles-main background-white">
  <ul>
    <% articles_by_category("news").first(3).each do |article| %>
    <li class='row'>
      <div class="d-flex col-xs-12 offset-lg-1 col-lg-10 post">
        <div class="col-md-4 featured-image">
          <%= image_tag( article.data.cover_image ) %>
        </div>
        <div class="col-md-8 summary">
          <h1 class="text-secondary"><%= article.title %></h1>
          <small>posted on: <%= article.date.strftime('%d %b %Y') %></small><br>
          <p class="metadescription"><%= article.data.metadescription %></p>
          <a class="btn btn-light-outline read-more link" target='_blank' rel="noopener noreferrer"
          href="<%= article.url%>">Read more here</a>
        </div>
      </div>
    </li>
  <% end %>
  </ul>
  <div class="col-xs-12 offset-lg-1 col-lg-10 post">
    <a class="btn btn-light-outline forward link" href="/news">
      View our full archives
      <i class="fa fa-chevron-right"></i>
    </a>
  </div>
</div>