<div class="row background-primary">
  <div class="divider">
    <div class="col-md-5 col-md-offset-1 left-column">
      <div class="col-sm-6 col-md-8 logo-container">
        <%= image_tag 'logo.png', :class => "logo" %>
      </div>
      <div class="col-sm-12 subheading">
        <h1 class="text-light">Latest News</h1>
      </div>
    </div>
    <div class="col-md-6 hidden-sm-down image-container">
      <%= image_tag 'main.jpg' %>
    </div>
  </div>
</div>
<div class="row news background-white">
  <% posts_array = data.news.posts.to_a.sort_by{ |id, e| e['date'] } %>
  <% posts_array.reverse.each do |post| %>
  <% p = post[1] %>
    <div class="col-xs-12 col-lg-offset-1 col-lg-10 post">
      <div class=" col-md-4 featured-image">
        <%= image_tag(p.featuredImage.url) %>
      </div>
      <div class="col-md-8 summary">
        <h1 class="text-primary"><%= p.title %></h1>
        <p>by <%= p.author %> posted on: <%= p.date.strftime('%d %b %Y') %></p>
        <%= Minidown.render(p.shortIntroduction) %><a class="btn btn-light-outline link" href="#">Read more here</a>
      </div>
    </div>
  <% end %>
  <div class="col-xs-12 col-lg-offset-1 col-lg-10 post">
    <a class="btn btn-light-outline link" href="#">View our full archives</a>
  </div>
</div>