<div class="row background-secondary" id="sellingPoints">
  <div class="divider">
    <div class="col-md-5 offset-md-1 left-column">
      <div class="col-sm-6 col-md-8 logo-container">
        <%= image_tag 'logo.png', :class => "logo" %>
      </div>
      <div class="col-sm-11 subheading wow bounce">
        <h1 class="text-light">Our Unique Selling Points</h1>
      </div>
    </div>
    <div class="col-md-6 hidden-sm-down image-container">
      <%= image_tag 'unique_selling_points.jpg' %>
    </div>
  </div>
</div>
<div class="row text-heavy background-dark selling-points">
  <div class="container">
    <%= partial "partials/selling-points/asia-pacific-wide-team" %>
    <%= partial "partials/selling-points/regions-finest-experts" %>
    <%= partial "partials/selling-points/magic-fairy-dust-fun" %>
  </div>
</div>
