<div class="row background-primary" id="whereWeAre">
  <div class="divider">
    <div class="col-md-5 col-md-offset-1 left-column">
      <div class="col-sm-6 col-md-8 logo-container">
        <%= image_tag 'logo.png', :class => "logo" %>
      </div>
      <div class="col-sm-11 subheading wow bounce">
        <h1 class="text-light">Where We Are Across Asia Pacific</h1>
      </div>
    </div>
    <div class="col-md-6 hidden-sm-down image-container">
      <%= image_tag 'where_we_are.jpg' %>
    </div>
  </div>
</div>
<div class="row where-we-are hidden-sm-down" id="map">
  <h4 class='title'>Hover over the pawprints to find out which cities we're at!</h4>
  <div class="cities-container">
    <ul class="cities list-reset">
      <li class="country philippines" data-toggle="tooltip" data-cities='manila' data-placement="top" title="Manila, Philippines">
        <svg class="shape shape-pawprint">
          <use xlink:href="#shape-pawprint"></use>
        </svg>
      </li>
      <li class="country hongkong" data-toggle="tooltip" data-cities='hongkong' data-placement="top" title="Hongkong">
        <svg class="shape shape-pawprint">
          <use xlink:href="#shape-pawprint"></use>
        </svg>
      </li>
      <li class="country china" data-toggle="tooltip" data-html="true" data-cities='beijing,shanghai' data-placement="top" title="Beijing, China</br>Shanghai, China">
        <svg class="shape shape-pawprint">
          <use xlink:href="#shape-pawprint"></use>
        </svg>
      </li>
      <li class="country india" data-toggle="tooltip" data-html="true" data-cities='bangalore,mumbai,new_delhi' data-placement="left" title="Bangalore, India</br>Mumbai, India</br>New Delhi, India">
        <svg class="shape shape-pawprint">
          <use xlink:href="#shape-pawprint"></use>
        </svg>
      </li>
      <li class="country singapore" data-toggle="tooltip" data-html="true" data-cities='singapore' data-placement="top" title="Singapore, Singapore">
        <svg class="shape shape-pawprint">
          <use xlink:href="#shape-pawprint"></use>
        </svg>
      </li>
      <li class="country malaysia" data-toggle="tooltip" data-html="true" data-cities='kuala_lumpur' data-placement="top" title="Kuala Lumpur, Malaysia">
        <svg class="shape shape-pawprint">
          <use xlink:href="#shape-pawprint"></use>
        </svg>
      </li>
      <li class="country indonesia" data-toggle="tooltip" data-html="true" data-cities='jakarta' data-placement="top" title="Jakarta, Indonesia">
        <svg class="shape shape-pawprint">
          <use xlink:href="#shape-pawprint"></use>
        </svg>
      </li>
      <li class="country australia" data-toggle="tooltip" data-html="true" data-cities='brisbane,melbourne,perth,sydney' data-placement="top" title="Brisbane, Australia</br>Melbourne, Australia</br>Perth, Australia</br>Sydney, Australia">
        <svg class="shape shape-pawprint">
          <use xlink:href="#shape-pawprint"></use>
        </svg>
      </li>
      <li class="country japan" data-toggle="tooltip" data-html="true" data-cities='tokyo' data-placement="top" title="Tokyo, Japan">
        <svg class="shape shape-pawprint">
          <use xlink:href="#shape-pawprint"></use>
        </svg>
      </li>
      <li class="country london" data-toggle="tooltip" data-html="true" data-cities='london' data-placement="top" title="London, United Kingdom">
        <svg class="shape shape-pawprint">
          <use xlink:href="#shape-pawprint"></use>
        </svg>
      </li>
    </ul>
    <div class="icons-container col-md-3 hidden-sm-down">
      <%= image_tag 'manila.png', class: 'manila-icon city-img animated hidden' %>
      <%= image_tag 'hongkong.png', class: 'hongkong-icon city-img animated hidden' %>
      <%= image_tag 'beijing.png', class: 'beijing-icon city-img animated hidden' %>
      <%= image_tag 'shanghai.png', class: 'shanghai-icon city-img animated hidden' %>
      <%= image_tag 'tokyo.png', class: 'tokyo-icon city-img animated hidden' %>
      <%= image_tag 'singapore.png', class: 'singapore-icon city-img animated hidden' %>
      <%= image_tag 'kuala_lumpur.png', class: 'kuala_lumpur-icon city-img animated hidden' %>
      <%= image_tag 'jakarta.png', class: 'jakarta-icon city-img animated hidden' %>
      <%= image_tag 'london.png', class: 'london-icon city-img animated hidden' %>
    </div>
    <div class="lower-icons-container hidden-sm-down">
      <div class="col-md-2">
        <%= image_tag 'brisbane.png', class: 'brisbane-icon city-img animated hidden' %>
      </div>
      <div class="col-md-2">
        <%= image_tag 'bangalore.png', class: 'bangalore-icon city-img animated hidden' %>
        <%= image_tag 'melbourne.png', class: 'melbourne-icon city-img animated hidden' %>
      </div>
      <div class="col-md-2">
        <%= image_tag 'mumbai.png', class: 'mumbai-icon city-img animated hidden' %>
        <%= image_tag 'perth.png', class: 'perth-icon city-img animated hidden' %>
      </div>
      <div class="col-md-2">
        <%= image_tag 'new_delhi.png', class: 'new_delhi-icon city-img animated hidden' %>
        <%= image_tag 'sydney.png', class: 'sydney-icon city-img animated hidden' %>
      </div>
    </div>
  </div>
</div>
<div class="row where-we-are background-dark icons hidden-md-up">
  <ul class="city-icons">
    <li class="city-icon-container wow fadeIn col-xs-6 col-sm-4 col-md-2"><%= image_tag 'bangalore.png'%></li>
    <li class="city-icon-container wow fadeIn col-xs-6 col-sm-4 col-md-2"><%= image_tag 'beijing.png'%></li>
    <li class="city-icon-container wow fadeIn col-xs-6 col-sm-4 col-md-2"><%= image_tag 'brisbane.png'%></li>
    <li class="city-icon-container wow fadeIn col-xs-6 col-sm-4 col-md-2"><%= image_tag 'hongkong.png'%></li>
    <li class="city-icon-container wow fadeIn col-xs-6 col-sm-4 col-md-2"><%= image_tag 'jakarta.png'%></li>
    <li class="city-icon-container wow fadeIn col-xs-6 col-sm-4 col-md-2"><%= image_tag 'kuala_lumpur.png'%></li>
    <li class="city-icon-container wow fadeIn col-xs-6 col-sm-4 col-md-2"><%= image_tag 'manila.png'%></li>
    <li class="city-icon-container wow fadeIn col-xs-6 col-sm-4 col-md-2"><%= image_tag 'melbourne.png'%></li>
    <li class="city-icon-container wow fadeIn col-xs-6 col-sm-4 col-md-2"><%= image_tag 'mumbai.png'%></li>
    <li class="city-icon-container wow fadeIn col-xs-6 col-sm-4 col-md-2"><%= image_tag 'new_delhi.png'%></li>
    <li class="city-icon-container wow fadeIn col-xs-6 col-sm-4 col-md-2"><%= image_tag 'perth.png'%></li>
    <li class="city-icon-container wow fadeIn col-xs-6 col-sm-4 col-md-2"><%= image_tag 'shanghai.png'%></li>
    <li class="city-icon-container wow fadeIn col-xs-6 col-sm-4 col-md-2"><%= image_tag 'singapore.png'%></li>
    <li class="city-icon-container wow fadeIn col-xs-6 col-sm-4 col-md-2"><%= image_tag 'sydney.png'%></li>
    <li class="city-icon-container wow fadeIn col-xs-6 col-sm-4 col-md-2"><%= image_tag 'tokyo.png'%></li>
    <li class="city-icon-container wow fadeIn col-xs-6 col-sm-4 col-md-2"><%= image_tag 'london.png'%></li>

  </ul>
</div>