---
title: Learning Zone Archives - Black Dog Consultants
layout: article
---

<% content_for(:og_title, 'Learning Zone Archives') %>
<% content_for(:og_url, "https://blackdog-consultants.com/learning-zone-archives") %>
<% content_for(:og_description, "List of Learning Zone articles for Black Dog Consultants") %>
<% content_for(:og_image, image_path('learning_zone.jpg')) %>
<div class="row background-primary">
  <div class="divider welcome">
    <div class="col-md-6 left-column">
      <div class="col-sm-4 col-md-4 logo-container">
        <%= image_tag 'logo.png', :class => "logo" %>
      </div>
      <div class="col-sm-11 content text-light">
        <h1 class="title">Learning Zone Archives</h1>
      <ul class="fa-ul">
        <% learningZone_array = data.articles.learningZone.to_a.sort_by{ |id, e| e['date'] } %>
        <% learningZone_array.reverse.each do |learningzone| %>
        <% lz = learningzone[1] %>
        <li>
          <a class="btn btn-light-outline link" href="/learningzone/<%= lz.slug%>">
            <i class="fa-li fa fa-paw"></i>
            <h3><%= lz.title %></h3>
            <small class="pull-left">posted on <%= lz.date.strftime('%d %b %Y') %></small>
          </a>
        </li>
        <% end %>
      </ul>
      </div>
    </div>
    <div class="col-md-6 hidden-sm-down image-container">
      <%= image_tag 'learning_zone.jpg' %>
    </div>
  </div>
</div>